/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    margin-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.header-image {
    display: block;
    width: 100%;
    text-align: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

@media (max-width: 768px) {
    .container {
        margin: 0 15px;
    }
}


/**
 * Overrides
 */

.navbar-inverse {
    background-color: #E31D1A;
}

body {
    background: white;
}

a,
a:hover,
a:visited,
body,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: black;
}

.navbar-inverse .navbar-toggle {
    border-color: black;
}

.column {
    float: left;
    padding: 7px;
}

.center {
    text-align: center;
}
